@import url('https://fonts.googleapis.com/css?family=Roboto');

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 10;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.checkbox_gameoflife {}

.checkbox_gameoflife__game {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.checkbox_gameoflife__controls {
  background: RGBA(255, 255, 255, .8);
  left: 0%;
  position: fixed;
  text-align: center;
  top: 0%;
  width: 100%;
  z-index: 2;
}

.checkbox_gameoflife__controls button {
  background: #EEE;
  border: 1px solid #DDD;
  box-sizing: border-box;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  margin: 10px 5px;
  outline: none;
  padding: 10px 15px;
}

.checkbox_gameoflife__controls button:hover {}

.checkbox_gameoflife__row {
  height: 20px;
  white-space: nowrap;
}

.checkbox_gameoflife__row__cell {
  height: 20px;
  margin: 0px;
  padding: 0;
  width: 20px;
}

/*.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
